# Compilados Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
venv/
env/
.venv/
ENV/

# Configurações locais
*.log
*.sqlite3
*.db
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Distribuição / pacotes
build/
dist/
*.egg-info/
.eggs/
